extends layout

block content
  div
    ul(id='messages' style="padding-bottom: 60px")
  form(action='')
    input(id='m' autocomplete='off')
    button Send
      
  script.
    $('form').submit(function() {
      socket.emit('chat message', $('#m').val());
      addMsg($('#m').val());
      $('#m').val('');
      return false;
    });
    
    socket.on('connect', function(data) {
      socket.emit('join', 'Hello World from client');
    });
    
    function addMsg(msg) {
      var newMsg = $('<li>').text(msg);
      $('#messages').append(newMsg);
      newMsg.focus();
    }
    
    socket.on('chat message', function(msg) {
      addMsg(msg);
    });
